.header {
    padding: 1rem;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-bottom: 30px;
    z-index: 200;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.logoContainer {
    display: flex;
    gap: 30px;
    align-items: center;
}

.logoContainer h1 {
    transition: all 0.3s ease;
    font-size: 1.8rem;
}

@media (prefers-color-scheme: dark) {
    .header {
        background-color: #1d1e20;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
}

@media only screen and (max-width: 700px) {
    .logoContainer h1 {
        transition: all 0.3s ease;
        font-size: 1rem;
    }
}