.leaderboardContainer {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: #1a1a1a;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.leaderboardTitle {
    color: #ffffff;
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 30px;
    letter-spacing: 4px;
    background: linear-gradient(90deg, #143763, #4876a9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.leaderboardList {
    list-style: none;
    padding: 0;
}

.rangElement {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    background-color: #2c2c2c;
    margin: 10px 0;
    padding: 20px 25px;
    border-radius: 10px;
    transition: transform 0.2s ease, background-color 0.3s ease;
}

.currentUser {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    border: solid 2px #6391c2;
    background-color: #2c2c2c;
    margin: 10px 0;
    padding: 20px 25px;
    border-radius: 10px;
    transition: transform 0.2s ease, background-color 0.3s ease;
}

.rangElement:hover {
    transform: translateY(-2px);
    background-color: #3a3a3a;
}

.currentUser:hover {
    transform: translateY(-2px);
    background-color: #3a3a3a;
}

.rangTitle {
    font-size: 1.2rem;
    color: #6391c2;
    font-weight: bold;
}

.rangStat {
    cursor: pointer;
    padding: 0 20px;
    font-size: 1rem;
    color: #e0e0e0;
    font-weight: normal;
}

.rangElement:first-child {
    background: linear-gradient(90deg, #0b3669, #4174aa);
    color: #fff;
}

.currentUser:first-child {
    background: linear-gradient(90deg, #0b3669, #4174aa);
    color: #fff;
}

.filterContainer {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    background-color: #1a1a1a;
    border-radius: 20px;
    max-height: 210px;
}

.leaderboardFilter {
    padding: 10px 20px;
    background-color: #2c2c2c;
    margin: 10px;
    border-radius: 10px;
}

.leaderboardFilter:hover {
    background-color: #3a3a3a;
    cursor: pointer;
}

.activeFilter {
    background: linear-gradient(90deg, #0b3669, #4174aa);
}

.activeFilter:hover {
    cursor: pointer;
}

.containerLeaderboard {
    display: flex;
    gap: 50px;
}

.loadingPlaceholderText {
    background-color: #666666;
    height: 10px;
    width: 100%;
    margin: 10px;
}

@media (prefers-color-scheme: light) {
    .leaderboardContainer {
        background-color: #ffffff;
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    }
    .rangElement {
        background-color: #ffffff;
        margin: 10px 0;
        padding: 20px 25px;
        border-radius: 10px;
        transition: transform 0.2s ease, background-color 0.3s ease;
    }
    .rangElement:hover {
        transform: translateY(-2px);
        background-color: #85B8FF;
    }

    .currentUser:hover {
        transform: translateY(-2px);
        background-color: #85B8FF;
    }

    .rangElement:hover .rangStat {
        color: white;
    }

    .rangElement:hover .rangTitle {
        color: white;
    }

    .rangElement:hover {
        transform: translateY(-2px);
        background-color: #85B8FF;
    }

    .currentUser:hover {
        transform: translateY(-2px);
        background-color: #85B8FF;
    }

    .rangElement:first-child .rangTitle {
        font-size: 1.2rem;
        color: #ffffff;
        font-weight: bold;
    }

    .rangElement:first-child .rangStat {
        font-size: 1.2rem;
        color: #ffffff;
        font-weight: bold;
    }

    .currentUser {
        border: solid 2px #6391c2;
        background-color: #ffffff;
    }

    .rangTitle {
        font-size: 1.2rem;
        color: black;
        font-weight: bold;
    }

    .rangStat {
        padding: 0 20px;
        font-size: 1rem;
        color: black;
        font-weight: normal;
    }

    .rangElement:first-child {
        background: linear-gradient(90deg, #85B8FF, #4174aa);
        color: #fff;
    }

    .currentUser:first-child {
        background: linear-gradient(90deg, #85B8FF, #4174aa);
        color: #fff;
    }
    .filterContainer {
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
        background-color: #fdfdfd;
        border-radius: 20px;
        max-height: 210px;
    }

    .leaderboardFilter {
        padding: 10px 20px;
        background-color: #ffffff;
        margin: 10px;
        border-radius: 10px;
    }

    .leaderboardFilter:hover {
        background-color: #e5e5e5;
        cursor: pointer;
    }

    .activeFilter {
        background: linear-gradient(90deg, #85B8FF, #4174aa);
    }

    .activeFilter:hover {
        cursor: pointer;
    }
}

@media only screen and (max-width: 1440px) {
    .containerLeaderboard {
        display: block;
    }
    .filterContainer {
        padding: 10px;
        border-radius: 20px;
        max-height: 210px;
        margin-bottom: 30px;
    }

    .mainFilter {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: 10px;
    }

    .subFilter {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: 10px;
        gap: 10px;
        padding: 0;
    }

    .leaderboardFilter {
        padding: 10px;
        border-radius: 10px;
        margin: 0;
    }

    .leaderboardFilter:hover {
        cursor: pointer;
    }

    .activeFilter:hover {
        cursor: pointer;
    }
}

@media only screen and (max-width: 950px) {
    .rangElement {
        grid-template-columns: repeat(3, 1fr);
    }

    .currentUser {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 750px) {
    .rangElement {
        grid-template-columns: repeat(2, 1fr);
    }

    .currentUser {
        grid-template-columns: repeat(2, 1fr);
    }
}