.container {
    margin-top: 30%;
    position: relative;
    width: 100%;
    min-height: 200px;
}

.viewContainer {
    position: relative;
    width: 100%;
}

.settingsContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.settingsIcons {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    flex-wrap: wrap;
    background-color: #383838;
    padding: 5px 10px;
    border-radius: 20px;
}

.settingsClickable:hover{
    cursor: pointer;
    color: #85B8FF;
}

.typingView,
.resultsView {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: all 0.5s ease;
}

.settingsContainer {
    transition: all 0.5s ease;
    opacity: 1;
    transform: translateX(0);
}
.showResults.settingsContainer {
    opacity: 0;
    transform: translateX(-100%);
}

.typingView {
    opacity: 1;
    transform: translateX(0);
}

.resultsView {
    opacity: 0;
    transform: translateX(100%);
    overflow: hidden;
}

.showResults .typingView {
    opacity: 0;
    transform: translateX(-100%);
}

.showResults .resultsView {
    opacity: 1;
    transform: translateX(0);
}

.showTyping .typingView {
    opacity: 1;
    transform: translateX(0);
}

.showTyping .resultsView {
    opacity: 0;
    transform: translateX(100%);
}

.generatedText {
    font-size: 2rem;
    white-space: pre-wrap;
    animation: fadeIn 0.5s;
    text-align: center;
}

@keyframes cursorFade {
    100% { opacity: 0; }
    50% { opacity: 1; }
    0% { opacity: 0; }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.wrong {
    color: #d33300;
}

.wrongSpace {
    color: #d33300;
}

.default {
    color: #383838;
}

.correct {
    color: #ffffff;
}

.cursorActive {
    position: absolute;
    min-width: 2px;
    width: 2px;
    background-color: #000000;
    transition: left 0.1s ease-out;
}

.cursor {
    position: absolute;
    min-width: 2px;
    width: 2px;
    background-color: #85B8FF;
    transition: left 0.1s ease-out;
}

.displayResult {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px
}

.topResults {
    margin-top: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    background-color: #1a1a1a;
    border-radius: 10px;
}

.topResults h3 {
    font-size: 1.5rem;
    color: #85B8FF;
}

.bottomResults h3 {
    font-size: 1rem;
    color: #3a67a9;
}

.bottomResults {
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    gap: 8px;
    flex-wrap: wrap;
}

.returnIcons {
    display: flex;
    justify-content: space-between;
}

.returnMobile {
    display: flex;
    gap: 8px;
}

.returnMobile:hover {
    cursor: pointer;
}

.infoContainer {
    color: #484848;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 30px;
    flex-wrap: wrap;
}

@media (prefers-color-scheme: light) {
    .cursor {
        background-color: #85B8FF;
    }

    .settingsIcons {
        color: white;
        background-color: #85B8FF;
    }
    .infoContainer {
        color: #85B8FF;
    }

    .topResults {
        color: white;
        background-color: #85B8FF;
    }

    .topResults h3 {
        font-size: 1.5rem;
        color: white;
    }

    .bottomResults h3 {
        font-size: 1rem;
        color: #85B8FF;
    }

    .topResults .correct {
        color: white;
    }

    .correct {
        color: black;
    }

    .default {
        color: #85B8FF;
    }

    .settingsClickable{
        transition: 0.5s ease-out;
    }

    .settingsClickable:hover{
        cursor: pointer;
        color: #000000;
        transition: 0.5s ease-out;
    }
}