.body {
    display: flex;
    flex-direction: column;
    max-width: 1300px;
    width: 100%;
    border-radius: 12px;
}

.topContainer {
    display: flex;
    width: 100%;
    padding: 20px;
    border-radius: 12px;
    background-color: #1a1a1a;
    justify-content: space-between;
}


#seperator {
    padding: 0;
    max-width: 12px;
    min-width: 12px;
    height: 100%;
    border-radius: 4px;
    background-color: #242424;
}

.rightContainer {
    padding-left: 20px;
}

.rightContainer h4 {
    padding-top: 20px;
}

.topContainer img {
    width: 200px;
    height: 200px;
}

.rightContainer p {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    color: #676767;
    max-width: 400px;
    max-height: 120px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.profileContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profileContainer img {
    border-radius: 100%;
}

.profileStats {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
}

.profileStats h4 {
    color: #676767;
    font-weight: 100;
    padding: 30px 0 0 0;
}

.profileStats h2 {
    font-weight: 100;
    padding: 30px 0 0 0;
}

.bottomContainer {
    display: flex;
    margin-top: 50px;
    padding: 20px;
    border-radius: 12px;
    background-color: #1a1a1a;
    justify-content: space-between;
}

.statsContainer {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.stats {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.stats h3 {
    font-weight: 100;
    color: #676767;
}

.runsContainer {
    width: 100%;
}

.runsDisplay {
    font-weight: 100;
    font-size: 0.89rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
    margin: 10px 10px 10px 0;
    padding: 10px;
    background-color: #2c2c2c;
    border-radius: 10px;
}

.runsDisplay:hover {
    cursor: pointer;
    background-color: #3a3a3a;
}

.loadingPlaceholderText {
    background-color: #666666;
    height: 10px;
    width: 100%;
    margin: 10px;
}

@media (prefers-color-scheme: light) {
    .topContainer {
        background-color: #ffffff;
    }
    .bottomContainer {
        background-color: #ffffff;
    }
    #seperator {
        background-color: #dbdbdb;
    }
    .runsDisplay {
        background-color: #ffffff;
    }
    .runsDisplay:hover {
        cursor: pointer;
        background-color: #85B8FF;
    }
}

@media only screen and (max-width: 980px) {
    .topContainer {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .mobileContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
}

@media only screen and (max-width: 950px) {
    .runsDisplay {
        grid-template-columns: repeat(4, 1fr);
    }
    .runsDisplay h3{
        font-size: 0.9rem;
    }
}

@media only screen and (max-width: 750px) {
    .runsDisplay {
        grid-template-columns: repeat(3, 1fr);
    }
    .runsDisplay h3{
        font-size: 0.8rem;
    }
}

